body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 5px solid black;
  height: 100vh;
  width: auto;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: yellow;
  height: 50%;
  width: 500px;
  box-shadow: 0 0 4px black;
  margin: 0;
  padding: 0;
  position: fixed;
}

#header {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  transform: translateY(-100%);
  position: fixed;
}

#head {
  margin-top: 0;
  font-size: 2rem;
}
#error {
  color: red;
  font-size: medium;
}

#form {
  display: flex;
  flex-direction: column;
  width: 300px;
  position: fixed;
  transform: translate(-50%, -20%);
}

#username {
  height: 20px;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.2rem;
}

#password {
  height: 20px;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.btn {
  width: fit-content;
  border-radius: 3px;
  transform: translate(160%);
  font-size: 1rem;
  background: yellowgreen;
}

.btn:hover {
  cursor: pointer;
  transition: 0.4s;
  background: black;
  color: white;
}
